body {
  padding: 50px;
  background-color: #222;
  color: #ddd;
  font: 14px 'Play', sans-serif;
}

a {
  color: #00B7FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d75a26;
  /* color: #ac5307; */
  /* color: #b9801f */
}
